// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #2780C8;
$yellow: #FFB300;
$orange: #E67E22;
$green: #169A70;
$gray: #999999;
$light-gray: #F4F4F4;
$dark-gray: #414141;
$purple: #6B5CB9;
$light-blue: #0FA6E8;
$off-white: #FBFBFB;
$lighter-gray: #C1C1C1;
