// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #1A9FC7;
$yellow: #FFB300;
$orange: #E67E22;
$green: #169A70;
$gray: #999999;
$light-gray: #F4F4F4;
$dark-gray: #241c15;
$purple: #6B5CB9;
$light-blue: #5BC0DE;
$off-white: #FBFBFB;
$lighter-gray: #C1C1C1;
