// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

// Define fonts for body and headers
$body-font: "Graphik", "Helvetica", "sans-serif";
$headers-font: "Lato", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

@font-face {
  font-family: "Graphik";
  font-weight: 300;
  font-style: normal;
  src: font-url('graphik-thin-webfont.eot');
  src: font-url('graphik-thin-webfont.woff') format('woff'),
       font-url('graphik-thin-webfont.ttf') format('truetype')
}

@font-face {
  font-family: "Graphik";
  font-weight: 400;
  font-style: normal;
  src: font-url('graphik-regular-webfont.eot');
  src: font-url('graphik-regular-webfont.woff') format('woff'),
       font-url('graphik-regular-webfont.ttf') format('truetype')
}

