.bg-img {
  // background: linear-gradient(45deg, rgba(39,128,200,0.85), rgba(15,166,232,0.85));
  // background: radial-gradient( circle farthest-corner at 18% 18.8%,  rgba(4,150,255,0.63) 0%, rgba(4,150,255,1) 90% );
  background: linear-gradient( 106.8deg,  rgba(91,192,222,0.85) 11.1%, rgba(26,159,199,0.85) 89.7% );
  img {
    height: 100vh;
    z-index: -1;
  }
}
.bg-text {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: white;
  h2 {
    font-size: 60px;
  }
  h1 {
    font-size: 80px;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
    font-weight: 300;
  }
}
