<%= link_to "Add information", edit_user_registration_path(current_user)  %>
<ul style="list-style-type: none;">
<li>First name: <%= @user.first_name %></li>
<li>Last name: <%= @user.last_name %></li>
<li>Contact information: <%= @user.contact_info %></li>
</ul>


<!-- <video autoplay></video>
<p><button id="capture-button">Capture video</button>
<p><button id="stop-button">Stop</button></p> -->
<!-- <header>
    <h1><a href="index.html">MediaRecorder examples</a></h1>
    <p>Record video and audio.</p>
  </header>
  <main>
    <p><button id="record" disabled>Record</button> <button id="stop" disabled>Stop</button></p>
    <div class="row">
      <figure>
        <video id="live" width="320"></video><br />
        <caption>live preview</caption>
      </figure>
      <figure>
        <video id="recording" controls width="320"></video><br />
        <caption>recorded clip</caption>
      </figure>
    </div>
  </main>
 -->


  <video controls autoplay></video><br>
  <button id="rec" >Record</button>
  <button id="stop" disabled>Stop</button>
 </div>
<a id="downloadLink" download="mediarecorder.webm" name="mediarecorder.webm" href></a>
<p id="data"></p>



