<%= link_to "Add information", edit_user_registration_path(current_user)  %>
<ul style="list-style-type: none;">
<li>First name: <%= @user.first_name %></li>
<li>Last name: <%= @user.last_name %></li>
<li>Contact information: <%= @user.contact_info %></li>
</ul>





  <video id="gum" playsinline autoplay></video>
  <video id="recorded" playsinline loop></video>
  <button id="rec" >Record</button>
  <button id="stop" disabled>Stop</button>
  <button id="submit" disabled>Save recording</button>

 </div>
<a id="downloadLink" download="mediarecorder.webm" name="mediarecorder.webm" href></a>
<p id="data"></p>







