.banner-section .btn, .video-text .btn {
  border-style: none;
  border-radius: 24px;
  background-color: $blue;
  padding: 12px 40px;
  font-size: 18px;
}

.banner-section .btn-lg, .video-text .btn-lg {
  font-size: 18px;
  padding: 12px 40px;
  border-radius: 24px;
  font-weight: bold;
}

.banner-section .btn-primary, .video-text .btn-primary {
  border-color: none !important;
  border-style: none;
}

.bg-blue .btn {
  background-color: white;
  color: $light-blue;
}
