.img-sm {
  width: 20%;
}
.img-lg {
  width: 80%;
  margin: 10% 0;
}
.img-sm-fixed {
  height: 22px;
  width: 22px;
}
.img-md-fixed {
  height: 60px;
  width: 60px;
}
.img-lg-fixed {
  width: 60px;
  height: 60px;
}
