.dashboard-main-container .sidebar-container {
  width: 15%;
  border-right: 1px solid #e6e9ec;
  font-size: 1.6rem;
  background-color: white;
  margin-right: 0;
  height: calc(100vh - 8.3125rem);
}
.sidebar-links{
  padding-top: 40px;
  height: inherit;
}
.sidebar-item {
  color: $off-black;
  text-align: left;
  width: 100%;
  padding: 1.5rem 0 1.5rem 3.5rem;
}
.sidebar-item:hover {
  text-decoration: none;
}
.sidebar-item-active {
  background-color: #FAFBFD;
  border-left: 4px solid $blue;
}
